$one-color: #972B98;
$two-color: #1e644e;
$three-color: #F4DAF7;
$four-color: #4C1C44;
$five-color: #3bb58e;
$six-color: #635C59;
$seven-color: #1E1E1D;
$eight-color: #D2D2D2;
$nine-color: #AEBBC8;
$ten-color: #9DA4B9;
$eleven-color: #767F61;