@use 'colors';

.header-contacto{
    background-image:  url(/assets/contacto5.-mobilejpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.nav{
    &__h1--contacto{
        /* -webkit-text-stroke: 2px colors.$two-color; */
        /* color: colors.$seven-color; */
        color: colors.$three-color;
        /* color: transparent; */
        font-size: 2.5rem;
        padding: 20px;
    }
}

.contacto{
    width: 80%;
    margin: 0 auto;
    
}


@media (min-width: 800px){
    .header-contacto{
        background-image:  url(/assets/contacto5.jpg);
        height: 100vh;
    }

    .nav{
        &__h1--contacto{
            width: 100%;
            font-size: 3.5rem;
        }
    }

    .contacto{
        width: 100%;
    }
}