@use 'colors';

.header {
    background-image: url(/assets/salon-mobile.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    margin: 40px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    /* background-color: colors.$eight-color; */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    &__link{
        display: none;
    }

    &__hamburger { /* menu-navegacion */
        position: fixed;
        top: 0;
        right: 0;
        width: 60vw;
        height: 100%;
        /* background-color: colors.$eight-color; */
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translate(110%);
        /* transform: translate(0);
        transition: transform 0.3s ease-in-out; */
        box-shadow: 0 0 6px rgb(30, 100, 78);
    }

    .spread{
        transform: translate(0);
    }

    &__logo {
        display: block;
    }

    &__logo img {
        width: 100px;
        height: auto;
    }

    &__icon {/* hamburger */
        /* display: block; */
        font-size: 40px;
        /* position: fixed; */
        /* top: 30px;
        right: 30px; */
        color: colors.$five-color;
        cursor: pointer;
    }

    &__hamburger a {
        color: colors.$two-color;
        text-decoration: none;
        font-size: 20px;
        padding: 22px 12px;
    }

    &__link a:hover {
        color: colors.$one-color;
    }

    &__title {
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    &__h1 {
        color: colors.$three-color;
        font-size: 3rem;
    }

    &__paragraph {
        color: colors.$three-color;
        font-weight: 700;
        font-size: 1.2rem;
    }
}

@media (min-width: 800px) {
    .header {
        background-image: url(/assets/salon.jpg);
    }

    .nav {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;

        &__link {
            display: block;
            margin-right: 30px;
            /* transform: translate(110%); */
        }

        &__link a {
            color: colors.$two-color;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 22px;
        }

        &__hamburger{
            display: none;
        }

        &__link a:hover {
            color: colors.$one-color;
            background-color: colors.$five-color;
        }

        &__icon {
            display: none;
        }

        &__title {
            width: 60%;
        }

        &__h1 {
            font-size: 4rem;
        }
        &__paragraph {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 1200px) {
    .nav {
        &__title {
            width: 60%;
        }

        &__h1 {
            font-size: 4.2rem;
        }
        &__paragraph {
            font-size: 1.8rem;
        }
    }
}
